snippet remark "Remark.js presentation config" b
class: center, middle

# ${1:Presentation Title}
${2:`!v strftime("%Y-%m-%d")`}

---

endsnippet

snippet slide "Remark.js presentation slide" b
# ${1:Slide Title}

${2:Content}

---

endsnippet
